body{
background:#0b3c4a;
color:white;
font-family:Arial;
}

.logo{
width:120px;
}

.menu button{
margin:5px;
}

.tab{
display:none;
}

.box{
background:#1fa3c9;
padding:20px;
border-radius:20px;
width:400px;
}

.main{
display:flex;
}

.rek{
width:100px;
height:100px;
}

.slots{
display:grid;
grid-template-columns:repeat(4,80px);
gap:5px;
}

.slot{
width:80px;
height:60px;
background:#6ea0c8;
cursor:pointer;
}

.busy{
background:red;
}

.mapBox{
width:400px;
height:300px;
overflow:hidden;
}

#map{
width:100%;
}