body{

background:#0b3c4a;

color:white;

font-family:Arial;

}



header{

display:flex;

justify-content:space-between;

}



.logo{

height:80px;

}



.menu button{

margin:5px;

}



.tab{

display:none;

}



.tarifBox{

display:flex;

}



.rek{

width:120px;

}



#slots{

display:grid;

grid-template-columns:repeat(4,80px);

gap:5px;

}



.slot{

width:80px;

height:60px;

background:#6ea0c8;

}



.busy{

background:red;

}



.mapBox{

position:absolute;

right:10px;

top:150px;

width:400px;

height:300px;

overflow:hidden;

}



#map{

width:100%;

}